<!DOCTYPE html>
<html lang="en">
    <head>
   		<title>Robeco BlockChain Panel</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">       
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="libraries/bootstrap-3.3.7.min.css">
		<link rel="stylesheet" type="text/css" href="libraries/css/alertify.min.css" />
		<link rel="stylesheet" type="text/css" href="libraries/css/themes/default.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css">       	
</head>

<body>       
    <div class="container">
		<div class="row">		
    	    <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">Admin</a></li>
                            <li><a href="#tab2primary" data-toggle="tab">Wallet</a></li>        
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1primary">
                      		<div class="row">
                                <div class="col-md-8">								
                                	<div class="latest-transactions">Latest Blocks</div>
                                </div>
                                <div class="col-md-4">
                                	<div id="find-block">Find a Block Address</div>
                           		</div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-8">
                               		<div id="latest-transactions-table">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Block</th>
													<th>Transactions</th>
                                                    <th>TimeStamp</th>
                                                </tr>
                                            </thead>											
                                            <tbody>
											 <% blocks.forEach(function(block) { %>
												<tr>
                                                    <td><%= block.number %></td>
													<td><button id="<%=block.number%>" type="button">Transactions</button></td>
													<td><%= block.timestamp %></td>
												</tr>
											 <% }); %>
                                            </tbody>
                                       </table>
                            		</div>                           
                            	</div>   
                       		
                         			<div class="col-md-4">
                                     	<div id="custom-search-input">
                                        	<div class="input-group">
                                                <input id="find-block-input" type="text" class="search-query form-control" placeholder="Search a blockNumber" />
                                                <span class="input-group-btn">
                                                    <button id="find-block-info" class="btn btn-danger" type="button">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </span>      
                                           </div>  
                                        </div>                                                     
                                      
                                        <div id="info-bar">
                                             <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td>Network</td>
                                                        <td><span class="glyphicon glyphicon-ok" style="color:green"</span> <%= info.network %></td>
                                                    </tr>
                                                     <tr>
                                                        <td>Total Money</td>
                                                        <td><span class="glyphicon glyphicon-bitcoin"</span> <%= info.totalMoney %></td>
                                                    </tr>
                                                     <tr>
                                                        <td>Current Block</td>
                                                        <td><span class="glyphicon glyphicon-unchecked"</span> <%= info.currentBlockNumber %></td>
                                                    </tr>
                                                     <tr>
                                                        <td>Current Time</td>
                                                        <td><span class="glyphicon glyphicon-time"</span> <%= info.currentTime %></td>
                                                    </tr>
                                            	</tbody>
                                        	</table>
                                        </div> 
                                    </div> 
                            	</div>   
							<div class="row"> <div class="col-md-8">
							<div class="latest-transactions">Latest Transactions</div>
								</div></div>
                            
							<div class="row">
								 <div class="col-md-12">
                               		<div id="latest-transactions-table">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Block</th>
													<th>Timestamp</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>							
                                               <% for(i=0; i<5; i++) { %>
												<tr>
                                                    <td><%= transactions[i].from %></td>
													<td><%= transactions[i].to %></td>
													<td><%= transactions[i].blockNumber %></td>
													<td><%= transactions[i].timestamp %></td>
													<td><%= transactions[i].value %></td>
												</tr>
											 <% }; %>
                                            </tbody>
                                       </table>
                            		</div>                           
                            	</div>      
                                    
							</div>

                            <div class="row">
                            	<div class="col-md-12">
                            		<img src="images/ethereum-logo.jpg" class="img-responsive" alt="ethereum-logo">
                            	</div>
                            </div>                                      
                                                           
                        	</div>   
                        <div class="tab-pane fade" id="tab2primary">
                      		<div class="row">
                                <div class="col-md-4">
                                	<div id="fill-account-number">Fill in your Account Number</div>
                                </div>
                                <div class="col-md-8">                        	
                                	<div id="transaction-history">Transaction History</div>
                           		</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                	<div id="account-input">
                                        <div class="input-group">
                                            <input type="text" id="account-number-input" class="search-query form-control" placeholder="e.g. 39GwgMLReUGqhFUcedU7L6bRoYx8GufYvG" />
                                            <span class="input-group-btn">
                                            	<button type="button" id="account-submit" class="btn btn-primary">Submit</button>
                                            </span>      
                                       </div>  
                                   </div>   
                                </div>     
                            </div>
                            
                            <div class="row">
                            	<div class="col-md-4">
                                	<div class="balance-style"> Your Balance:</div><div class="balance-style" id="Balance"></div>                            
                                </div>
                                <div class="col-md-8">
								
									<div id="transactions-history-table">
									
									
									</div>
								
										             
                                </div>     
                            </div>
                            
                            <div class="row">
                                <div id="send-transaction-text" class="col-md-6">Send Transaction (in Ether)</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                <input type="text" class="search-query form-control" id="recipient" placeholder="Recipient Address" />
                                </div>
                            </div>
                    	
                            <div class="row">
                              <div class="col-md-3">
                                  <div class="input-group">
                                    <input type="text" id="amount-to-send" class="search-query form-control" placeholder="Amount" /> 
                                  </div>  
                              </div>

                              <div class="col-md-2">
                              	<button type="button" id="transaction-submit" class="btn btn-primary">Send</button>	
                              </div>
                            
                            </div>
							<div class="row">
                              <div class="col-md-4">
								<input type="text" id="private-key" class="search-query form-control" placeholder="Private Key" /> 
							  </div>
							</div>
                            
                             <div class="row">
                            	<div class="col-md-6">
                            		<img src="images/ethereum-logo.jpg" id="wallet-logo-footer" class="img-responsive" alt="ethereum-logo">
                            	</div>
                                <div class="col-md-6">
                            		 <div id="account-number-text">Your Account Number:</div>
                            	</div>
                            </div>  
                            <div class="row">
                                <div class="col-md-6"></div>
                                    <div id="account-number-value" class="col-md-2">0xb9158Aad5E4e1a7BAa83840B499CFEd1c0730C0D</div>                      
                            </div>        
                      	</div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<script language="javascript" type="text/javascript" src="libraries/jquery-3.1.1.min.js"></script>	
    <script language="javascript" type="text/javascript" src="libraries/bootstrap-3.3.7.min.js"></script>		
	<script language="javascript" type="text/javascript" src="libraries/alertify.min.js"></script>
	<script>
	
	// ADMIN PAGE: block contains an array of transaction objects
	// we parse them here so we can show them nicely in a string
	<% blocks.forEach(function(block) { 
	%>
		$( "#<%= block.number %>" ).click(function() {
			var transactionsList = "Transactions linked to this block:<br>";
			<% block.transactions.forEach(function(transaction) { %>
				transactionsList += "From: <%=transaction.from%>";
				transactionsList += "<br>To: <%=transaction.to%>";
				transactionsList += "<br>Block: <%=transaction.blockNumber%>";			
				transactionsList += "<br>Amount: <%=transaction.value%>";
				transactionsList += "<br><br>";						
			<% }); %>
			
			alertify.alert(transactionsList);
		});
	 <% }); %>

	 // retrieves user input from textbox on WALLET page and finds the
	 // balance, latest transactionhistory from this account-input
	 // and outputs it on the right div
	 $("#account-submit").on('click', function() {
		$.ajax({
		  type: 'POST',
		  url: '/getAccount',
		  data: { accountNumber: $( "#account-number-input" ).val() },
		  success: function(resultData) {	  
			$("#account-number-value").text(resultData.accountNumber);
			$("#Balance").text(resultData.balance);
			
			var table = '<table class="table table-bordered"><thead><tr>' +
									'<th>To</th>' +
									'<th>Block</th>' +
									'<th>TimeStamp</th>' +
									'<th>Amount</th>' + 
								'</tr>' + 
							'</thead>' + 
							'<tbody>';
							var teller = 0;
							resultData.transactionHistory.forEach(function(transaction) { 										
								if (teller != 5) {
									table += '<tr>';
								
									table += '<td>' + transaction.to + '</td>';
									table += '<td>' +  transaction.block + '</td>';				
									table += '<td>' + transaction.timestamp + '</td>';
									table += '<td>' + transaction.amount	+ '</td>';

									table += '</tr>';
									teller++;
								}
							 }); 
							
							'</tbody>' + 
					   '</table>';
	
			$("#transactions-history-table").html(table);
		  }
		});
	});
	
	// retrieves user input from textboxes on WALLET page and sends
	// the amount to the specified user
	// alerts the user when transaction is a success
	$("#transaction-submit").on('click', function() {
		$.ajax({
		  type: 'POST',
		  url: '/sendTransaction',
		  data: { to: $( "#recipient" ).val(),
				  amount: $( "#amount-to-send" ).val() ,
				  privateKey: $( "#private-key" ).val()},
		  success: function() {	  
			alertify.alert("Amount successfully sent!");
		  },
		  fail: function() {
			alertify.alert("Something went terribly wrong...");		  
		  }
		});
	});
	
	// retrieves user input from textbox on ADMIN page and finds the
	// block with that blocknumber
	// block contains an array of transaction objects
	// we parse them here so we can show them nicely in a string
	$("#find-block-info").on('click', function() {
		$.ajax({
		  type: 'POST',
		  url: '/getBlock',
		  data: { blockNumber: $( "#find-block-input" ).val() },
		  success: function(resultData) {	  
			var transactionsList = "<br>Transactions linked to this block:<br>";
			 resultData.transactions.forEach(function(transaction) { 
				transactionsList += "<br>From: " + transaction.from;
				transactionsList += "<br>To: " + transaction.to;
				transactionsList += "<br>Timestamp: " +  transaction.timestamp;				
				transactionsList += "<br>Amount: " + transaction.value;
				transactionsList += "<br><br>";						
			 }); 
			 
			 var output = "BlockNumber: " + resultData.number + "<br>Timestamp: " + resultData.timestamp + transactionsList;
			 alertify.alert(output);
		  }
		});
	});

	</script>
	
</body>
</html>